body{
    background-color:    hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Figtree", sans-serif;
}
.onglet-blog{
    width: 320px;
    height: 500px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: white;
    border:1px solid black ;
    border-radius: 10px;
    border-right: 5px black;
    border-bottom: 5px black;
     box-shadow: 6px 6px 0px rgba(0, 0, 0);
     padding: 20px;
     text-align: left;
         
}
.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
}

    
.image-1 img{
    border-radius: 10px;
 
    max-width: 100%; /* Pour que l'image ne dépasse pas la largeur de son conteneur */
    max-height: 100%;
}


.Image-et-nom{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
     
}
.Image-et-nom img {
    margin-right: 10px;
}


h1{
    background-color:  hsl(47, 88%, 63%);
    border-radius: 10%;
  padding: 8px;
  margin-bottom: 0;
  font-size: 1.5em;
}
p{
    color: hsl(0, 0%, 50%)
}
.date p{
    color:black;
    font-weight: 500;
    
}
h2{
    margin-bottom: 0;
    margin-top: 0;
}